::-webkit-scrollbar {
    display: none;
}


.custom-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #ECB206;
    /* padding: 5px 10px; */
    /* background-color: #ECB206; Custom active tab text color (Tailwind blue-600) */
  }
  
  .custom-tabs .ant-tabs-tab:hover {
    color: #ECB206; /* Custom hover tab color */
  }
  
  .custom-tabs .ant-tabs-ink-bar {

    background-color: #ECB206; /* Custom active tab bottom border color */
  }